*{
    margin: 0;
    padding: 0;
}

html, body, #main {
    margin: 0;
    height: 100%;
}

#score {
    float: right;
}

#axis, #score {
    position: relative;
}
#cat {
    width: 100px;
    height: 140px;
}
#cat:hover {
    cursor: pointer;
}